* {
  box-sizing: border-box;
}

main {
  padding: 36px;
}

.header {
  display: flex;
  align-items: center;
  height: 65px;
  background: linear-gradient(90deg, #5433ff 1.18%, #20bdff 100%);
  color: white;
  padding: 20px;
}

.header--image {
  margin: auto;
  height: 100%;
  margin-right: 6px;
}

.header--title {
  font-size: 1.55rem;
  margin-right: auto;
  font-weight: bold;
}

.header--project {
  font-size: 0.75rem;
  font-weight: 500;
}

.form {
  display: grid;
  /* grid-template-columns: repeat(2, 1fr); */
  grid-template: 40px 40px / 1fr 1fr;
  gap: 17px;
  padding: 37px;
}

input {
  border-radius: 5px;
  border: 1px solid #d5d4d8;
  text-indent: 5px;
}

button {
  grid-column: 1/-1;
  background: linear-gradient(90deg, #5433ff 1.18%, #20bdff 100%);
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}
/* .meme {
  position: relative;
}

.meme--image {
  max-width: 100%;
  border-radius: 3px;
} */

.meme {
  position: relative;
  border-radius: 3px;
  max-width: 100%;
  max-height: 100%;
  text-align: center;
}

.meme img {
  /* object-fit: cover; */
  height: 500px;
  object-fit: cover;
}

.meme--text {
  position: absolute;
  width: 80%;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  margin: 15px 0;
  padding: 0 5px;
  font-family: impact, sans-serif;
  font-size: 2em;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1px;
  text-shadow: 2px 2px 0 #000, -2px -2px 0 #000, 2px -2px 0 #000,
    -2px 2px 0 #000, 0 2px 0 #000, 2px 0 0 #000, 0 -2px 0 #000, -2px 0 0 #000,
    2px 2px 5px #000;
}

.bottom {
  bottom: 0;
}

.top {
  top: 0;
}
